In [37]:
"""
Imported required Modules which 
requires to normalise the data
"""
import pandas as pd
dataframe = pd.read_csv("../dataset/ce889_dataCollection.csv")
# dataframe.head()
# dataframe.describe()
dataframe.columns = ["x1","x2","vel_x1","vel_x2"]
dataframe_normalise = (dataframe-dataframe.min())/(dataframe.max()-dataframe.min())
dataframe_normalise.to_csv("../dataset/ce889_dataCollection_new.csv")
dataframe_normalise.head()

         x1        x2    vel_x1    vel_x2
0  0.584171  0.514247  0.373601  0.458992
1  0.584142  0.514372  0.365868  0.455835
2  0.584142  0.514620  0.358134  0.458992
3  0.584112  0.514993  0.350401  0.455835
4  0.584112  0.515490  0.358134  0.458992